body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: auto;
    max-width: 50em;
    font-size: 18px;
}

#page-title {
    text-align: center;
}

#page-title h1 a, .post a {
    color: black;
}

a {
    text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.date-time-title {
    display: inline-block;
}

#posts {
    padding-left: 1em;
    padding-right: 1em;
}

.post {
    padding-left: 1em;
    padding-right: 1em;
}

.blog-post {
    padding-left: 1em;
    padding-right: 1em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#menu {
    padding-left: 1em;
    padding-right: 1em;
}

.menu_item {
    display: inline-block;
}

.menu_item a {
    color: black;
}

.menu_item a:hover {
    text-decoration: underline;
}

#language {
    padding-left: 1em;
    padding-right: 1em;
}

.language_item {
    display: inline-block;
}

.language_item a {
    color: black;
}

.language_item a:hover {
    text-decoration: underline;
}
