body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: auto;
    max-width: 50em;
    font-size: 18px;
}

#header {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.blog-post-content a {
	color:black;
	text-decoration: underline;
}

.blog-post-content a:hover {
	text-decoration: none;
}

#page-title a:hover, .post a:hover {
    text-decoration: underline;
}

.post {
    padding-left: 1em;
    padding-right: 1em;
}

.blog-post {
    padding-left: 1em;
    padding-right: 1em;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#posts, #menu, #language {
    padding-left: 1em;
    padding-right: 1em;
}

.date-time-title, .menu_item, .language_item {
    display: inline-block;
}

.menu_item a:hover, .language_item a:hover {
    text-decoration: underline;
}

#menu_pag {
	text-align: center;
}

.footer {
	text-align: center;
	padding-bottom: 1em;
}

.subheader a:hover, .footer a:hover {
	text-decoration: none;
}

.subheader a, .footer a {
	text-decoration: underline;
}

pre code {
	overflow-x: scroll;
	overflow-y: hidden;
	display: block;
	word-wrap: normal;
    }
