<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="HandheldFriendly" content="true"/>
        <link rel="stylesheet" href="/assets/css/font.css">
    <title>404 page not found</title>
        <link rel="stylesheet" href="/assets/css/stylesheet.css">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="alternate icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="alternate icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#FFA86A">
    </head>
    <body>
	    <header>
        <section id="page-title">
            <h1><a href="/">{{ .Site.Params.sitename | default "Martin Kaptein"}}</a></h1>
        </section>
	</header>

<main>
<article>
<section class="blog-post">
    <h1>404 Error - Page not found</h1>
       <div class="blog-post-content">
	       <h2>Click <a href="/">here</a> to head back to the <a href="/">home page</a>.</h2>
	       <p>Most likely you will find what you where looking for there</p>
    </div>
</section>
</article>
</main>
</body>
</html>
