<head>

    <title>{{ .Title }} - {{ .Site.Params.siteTitle }}</title>


  <link rel='canonical' href='{{ .Permalink }}'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description }}">
<meta name="keywords" content="{{ with .Params.Tags }}{{ delimit . ", " }}{{ end }}" />
    <meta name="author" content="{{ .Site.Params.siteAuthor }}">

{{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}

    {{ $resources = $resources | append (resources.Get "css/min770px.css") -}}

    {{ $dark := .Site.Params.dark | default "auto" -}}
    {{ if not (eq $dark "off") -}}
{{ $resources = $resources | append (resources.Get "css/dark.css" | resources.ExecuteAsTemplate "dark.css" .) -}}
    {{ end -}}


    {{ if .Site.Params.highlight -}}
    {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}
    {{ end -}}
       {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    <!-- Internationalization stuff -->
    {{ if .IsTranslated }}
    {{ range .Translations }}
  <link rel='alternate' hreflang='{{ .Lang }}' href='{{ .Permalink }}'>
  {{ end }}
  {{- with index .Site.Home.AllTranslations 0 -}}
    <link rel='alternate' hreflang='x-default' href='{{ .Permalink }}'>
    {{ end }}
  {{ end }}

    <!-- Icons and stuff -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="alternate icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="alternate icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#FFA86A">

<!-- All SEO meta besides vanilla -->
<!-- OG data -->
<meta property="og:locale" content="{{ $.Site.Language.Lang }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />

{{ if .IsPage }}

{{ with $.Site.Params.facebookUser }}
<meta property='article:author' content='https://facebook.com/{{ . }}'>
<meta property='article:publisher' content='https://facebook.com/{{ . }}'>
{{ end }}
{{- range .Params.tags -}}
<meta property='article:tag' content='{{ . }}'>
{{- end -}}
{{- $dateFormat := "2006-01-02" -}}
<meta property='article:published_time' content='{{ .Date.Format $dateFormat }}'/>
{{ end }}


<meta property="og:title" content="{{ .Title }} - {{ .Site.Params.siteTitle }}">
<meta property="og:description" content="{{ if .Description}}{{ .Description | plainify }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Title }}" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ $.Site.Params.twitterUser }}" />
<meta name="twitter:creator" content="{{ $.Site.Params.twitterUser }}" />

<!-- Schema -->
{{ if .IsHome }}
{{ partial "custom/schema.html" . }}
{{ end }}

<!-- RSS stuff -->
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ template "_internal/google_analytics.html" . }}
</head>
