<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "name": "Martin Kaptein",
  "url": "https://www.martinkaptein.com/",
  "image": "https://www.martinkaptein.com/images/martinkaptein_portrait.jpg",
  "sameAs": [
    "https://www.facebook.com/martin.kaptein",
    "https://twitter.com/MartinKaptein/",
    "https://www.instagram.com/martinkaptein/",
    "https://www.youtube.com/channel/UCosUIzMUriRTgg60vh3EwCQ",
    "https://linkedin.com/in/martin-kaptein-a26661159",
    "https://github.com/martinkaptein/"
  ],
  "worksFor": {
    "@type": "Organization",
    "name": "Martin Kaptein"
  }  
}
</script>
