{{ define "main" }}
<article lang='{{ .Site.Language.Lang }}'>
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        {{- if isset .Params "date" -}}
	<time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "January 2, 2006" }}</time>
        {{- end -}}
    </header>
    {{- .Content -}}
</article>
<hr>
<h3>{{ $.Site.Params.stringMorePosts }}</h3>
<ul id="posts">
	{{- if .PrevInSection -}}
	<li>
		<a href="{{ .PrevInSection.Permalink | relURL }}">
			{{ .PrevInSection.Title }}
		</a>
	</li>
	{{- end -}}
	{{- if .NextInSection -}}
	<li>
		<a href="{{ .NextInSection.Permalink | relURL }}">
			{{ .NextInSection.Title }}
		</a>
	</li>
	{{- end -}}
	<!--	<li><a href="../">{{ $.Site.Params.stringFullPostsList }}</a> / <a href="../../tags/">{{ $.Site.Params.stringTagList }}</a></li> -->
	<hr>
	<li><a href="/contact/">{{ $.Site.Params.stringContact }}</a></li>
</ul>
{{ if .Params.comments }}
<hr>
{{ template "_internal/disqus.html" . }}
{{ end }}
{{ end }}
